@font-face {
  font-family: Gagalin;
  src: url("../fonts/Gagalin.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lifehack;
  src: url("../fonts/Lifehack.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-B.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0 0 0 0; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 650px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .wrapper {
      min-height: auto; } }

.maincontent {
  height: 100vh;
  min-height: 40.625rem;
  width: 100%;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  -webkit-transform: translateY();
  -ms-transform: translateY();
  transform: translateY();
  will-change: transform; }
  @media screen and (max-width: 768px) {
    .maincontent {
      min-height: auto; } }

.container {
  width: 95%;
  max-width: 940px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }

.section {
  background-color: #2f3234;
  min-width: 100%;
  min-height: 40.625rem;
  height: 100vh; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 31.25rem;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #bd3d1a; }

footer {
  position: relative;
  widows: 100%; }

.hero {
  background-image: url("/img_first/Rectangle.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.625rem; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: white;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  max-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 15%; }

.hero__burger-img {
  max-width: 100%;
  max-height: 100%; }

.hero__burger-img, .hero__titles, .hero__burger {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: block; }

.hero__titles {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .hero__titles {
      text-align: center; } }

.hero__titles-first {
  color: #f8b43a;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }

.hero__titles-second {
  color: white;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1; }

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }

.hamburger-menu-link__bars:before {
  top: 0; }

.hamburger-menu-link__bars:after {
  bottom: 0; }

.down-arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  width: 3.75rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.down-arrow:hover .down-arrow__icon {
  margin-top: -0.9375rem;
  width: 2.8125rem;
  height: 2.8125rem; }

.down-arrow__icon {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  fill: #fff; }

.best {
  background-image: url("../img_first/Rectangle1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__titles-first--best {
  color: #2f3234;
  margin-bottom: 3.75rem; }

.best__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top; }
  @media screen and (max-width: 480px) {
    .best__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.best__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: top;
  -ms-flex-pack: top;
  justify-content: top; }
  @media screen and (max-width: 480px) {
    .best__feature {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.best__img {
  padding-bottom: 2.5rem; }

.best__caption {
  font-family: 'Lifehack';
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.9375rem;
  line-height: 1; }

.best__description {
  font-family: 'Ubuntu';
  text-align: center;
  color: #2f3234;
  font-size: 0.875rem;
  font-weight: lighter;
  line-height: 1.75; }

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center bottom;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feedback__container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.feedback__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.feedback__profile {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative; }
  .feedback__profile:hover .feedback__spoiler {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .feedback__profile {
      width: 50%;
      height: 25%; } }

.feedback__spoiler {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: left;
  padding-left: 1.25rem;
  background: rgba(69, 69, 69, 0.7);
  color: white;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.feedback__name {
  font-family: 'Gagalin'; }

.team {
  background-image: url("/img_first/teambg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

@media screen and (max-width: 768px) {
  .team__content {
    text-align: center; } }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 4.375rem; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%;
      padding-left: 0; } }

.team__acco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin-top: 6.25rem; }

.team-acco__item {
  padding-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .team-acco__item {
      text-align: center; } }

.team-acco__trigger {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 1.25rem;
  font-family: 'Gagalin';
  text-decoration: none; }
  .team-acco__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 0.5625rem solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
    padding-top: 0.3125rem; }

.team-acco__pick-img {
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%; }

.team-acco__content {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-acco__text {
  color: white;
  height: 6.25rem;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .team-acco__text {
      padding-left: 0; } }

.team-acco__text-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.team-acco__active .team-acco__trigger {
  color: #f8b43a; }
  .team-acco__active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.order {
  background-image: url("/img_first/order.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.form {
  color: white;
  margin-top: 3.5rem; }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0 1.25rem; } }

.form__elem-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__elem-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__content {
  width: 50%;
  margin-right: 1.25rem; }
  .form__content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__content {
      width: 29.375rem;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .form__content {
      margin-right: 0;
      width: 23.125rem; } }

.form__input {
  border: none;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  width: 100%;
  height: 2.1875rem; }
  .form__input-comment {
    height: 6.8125rem;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.3125rem;
    width: 100%; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .form__row ::nth-last-child {
      display: none; } }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin: 0; }

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__checkbox {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form__checkbox:last-child {
    margin: 0; }
  .form__checkbox-btn {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0.625rem 0 0 1.25rem; }

.form__comment-title {
  position: relative;
  padding: 0 0 0 1.875rem;
  cursor: pointer; }
  .form__comment-title--checkbox {
    position: relative;
    padding: 0 0 0 1.875rem;
    cursor: pointer; }
    .form__comment-title--checkbox:before {
      content: '';
      position: absolute;
      top: 0.125rem;
      left: 0.0625rem;
      width: 0.9375rem;
      height: 0.9375rem;
      background: white;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
  .form__comment-title:before {
    content: '';
    position: absolute;
    top: 0.125rem;
    left: 0.0625rem;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 0.46875rem;
    background-color: white;
    background: white;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }

.form__checkbox input:checked + .form__comment-title:before {
  content: "\2022";
  color: #e25028;
  font-size: 1.875rem;
  text-align: center;
  line-height: 0.9375rem; }

.form__checkbox input:checked + .form__comment-title--checkbox:before {
  background-image: url("/img_first/check.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.clean {
  padding-left: 1.25rem;
  color: white;
  border: none;
  background: transparent; }

.map {
  background-image: url("/img_first/map-marker.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  color: white;
  position: relative; }

.map__container {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.footer {
  background-image: url("/img_first/footerbg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 3.625rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer {
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      height: 4.6875rem; } }

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9.375rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__links {
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4); }
  .footer__links:hover {
    -webkit-filter: brightness(1);
    filter: brightness(1); }

.footer__links-img {
  height: 1.25rem;
  width: 1.25rem; }

.footer__contacts-phone {
  color: #e25028;
  font-weight: 600; }
  .footer__contacts-phone:before {
    content: url("/img_first/phone.png"); }

.menu {
  background-image: url("/img_first/menu1.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.menu__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left; }

.menu__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu__titles {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  top: 5.625rem;
  left: 5.625rem; }
  @media screen and (max-width: 480px) {
    .menu__titles {
      font-size: 3.125rem;
      top: 3.125rem;
      left: 3.125rem; } }

.menu-acco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.menu-acco__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  height: 100%;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu-acco__item:hover .menu-acco__trigger-disc {
    color: #f8b43a; }

.menu-acco__trigger {
  width: 4.375rem;
  position: relative; }

.menu-acco__trigger-disc {
  position: absolute;
  display: block;
  font-family: gagalin;
  left: 9%;
  top: 15rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: white;
  font-size: 2.5rem;
  white-space: nowrap;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  text-align: center; }

.menu-acco__content {
  display: none;
  color: white;
  width: 0rem;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.93);
  font-family: ubuntu;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: white;
  width: 100%;
  background: rgba(105, 105, 105, 0.8);
  padding-left: 0.625rem;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-acco-active .menu-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mobile__view_block {
  display: none; }

.mobile__view {
  font-family: ubuntu;
  font-size: 1.5rem;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(47, 50, 52, 0.99);
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mobile__view_list {
  list-style-type: none; }

.mobile__view_item:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background-color: white;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  -ms-flex-item-align: center;
  align-self: center; }

.close__button_mob {
  position: absolute;
  right: 2.1875rem;
  top: 2rem;
  cursor: pointer;
  z-index: 9999999999999; }

@media screen and (max-width: 768px) {
  .close__button_mob {
    display: block; } }

.mobile__view_item > a {
  color: white;
  text-decoration: none; }

.mobile__view_item > a:hover {
  text-decoration: underline; }

.mobile__view_item:nth-of-type(6):after {
  display: none; }

.burgers {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffcc33), color-stop(#eb8c38), to(#ffcc33));
  background: -webkit-linear-gradient(bottom, #ffcc33, #eb8c38, #ffcc33);
  background: -o-linear-gradient(bottom, #ffcc33, #eb8c38, #ffcc33);
  background: linear-gradient(to top, #ffcc33, #eb8c38, #ffcc33);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.burger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

.burger__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger__view {
  position: relative;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.burger__menu {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  left: 5.625rem;
  top: 0;
  width: 23.125rem;
  border-radius: 4px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.burger__menu-items {
  padding-left: 1.25rem; }

.burger__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.125rem 1.375rem 1.125rem 0; }

.menu__img {
  margin-right: 1.5625rem; }

.menu__name {
  margin-right: 4.0625rem;
  width: 4.375rem;
  text-align: left;
  font-weight: bold; }

.burger__composition {
  position: absolute;
  top: -3.5rem;
  left: 0; }

.burger__composition-img {
  max-height: 75vh;
  max-width: 75vh; }
  @media screen and (max-width: 768px) {
    .burger__composition-img {
      height: 4.6875rem;
      width: 75px; } }
  @media screen and (max-width: 480px) {
    .burger__composition-img {
      height: 3.125rem;
      width: 3.125rem; } }

.burger__composition:hover .burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.burger__kkal {
  position: absolute;
  bottom: -3rem;
  left: 0.5rem; }

.burger__weight {
  position: absolute;
  top: 1.4375rem;
  left: 0.8125rem;
  font-family: 'gagalin';
  font-size: 1.25rem;
  color: #FED586; }

.burger__discription {
  text-align: left;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 47%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.burger__txt-add {
  padding: 0;
  color: white;
  text-align: left;
  line-height: 3.75rem; }

.burger__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger__order {
  margin-top: 1.5625rem; }

.burger__price-numb {
  display: block;
  color: #e25028;
  font-family: 'Gagalin';
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin-right: 1.25rem; }
  .burger__price-numb span {
    font-size: 4.6875rem; }

.burger__img {
  max-width: 100%;
  max-height: 100%; }

.fixed-menu {
  position: fixed;
  top: 5.625rem;
  right: 2.5rem; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  display: block;
  position: relative; }
  .fixed-menu__link:after, .fixed-menu__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .fixed-menu__link:after {
    width: 0.375rem;
    height: 0.375rem;
    background: #fff; }
  .fixed-menu__link:before {
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    border: 0.0625rem solid #fff;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .fixed-menu__link:hover:before {
    width: 0.875rem;
    height: 0.875rem;
    opacity: 1; }

.fixed-menu__item.active .fixed-menu__link:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1; }

.fixed-menu__item {
  margin-bottom: 0.3125rem; }

/*# sourceMappingURL=main.css.map */