@font-face {
  font-family: Gagalin;
  src: url("../fonts/Gagalin.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lifehack;
  src: url("../fonts/Lifehack.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-B.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Light.ttf");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

p {
  margin: 0 0 0 0; }

.wrapper {
  width: 100%;
  min-width: 960px;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  max-width: 940px;
  width: 95%;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100vh;
  background-color: #2f3234;
  min-width: 940px;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500px;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #bd3d1a; }

footer {
  position: relative;
  widows: 100%; }

.hero {
  background-image: url("/img_first/Rectangle.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.hero__burger-img, .hero__titles {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: block; }

.hero__titles {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero__titles-first {
  color: #f8b43a;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.hero__titles-second {
  color: white;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.best {
  background-image: url("../img_first/Rectangle1.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__titles-first--best {
  color: #2f3234;
  margin-bottom: 3.75rem; }

.best__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top; }

.best__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: top;
  -ms-flex-pack: top;
  justify-content: top; }

.best__img {
  padding-bottom: 40px; }

.best__caption {
  font-family: 'Lifehack';
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 15px;
  line-height: 1; }

.best__description {
  font-family: 'Ubuntu';
  text-align: center;
  color: #2f3234;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.75; }

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center bottom;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feedback__container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.feedback__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.feedback__profile {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative; }
  .feedback__profile:hover .feedback__spoiler {
    opacity: 1; }

.feedback__spoiler {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: left;
  padding-left: 20px;
  background: rgba(69, 69, 69, 0.7);
  color: white;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.feedback__name {
  font-family: 'Gagalin'; }

.team {
  background-image: url("/img_first/teambg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 70px; }

.team-acco__item {
  padding-bottom: 30px; }

.team-acco__trigger {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  font-family: 'Gagalin'; }
  .team-acco__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0; }

.team-acco__pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none; }

.team-acco__text {
  color: white;
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 25px;
  font-size: medium; }

.team-acco__item_active .team-acco__trigger {
  color: #f8b43a; }
  .team-acco__item_active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-acco__item_active .team-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order {
  background-image: url("/img_first/order.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.form__block-title {
  color: white; }

.form__content {
  width: 50%; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin: 0; }

/*# sourceMappingURL=main.css.map */