.best {
    background-image: url('../img_first/Rectangle1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}