.burgers {
    background: linear-gradient(to top, $burgerbg, $burgerbg2, $burgerbg);
    display: flex;
    position: relative;
    justify-content: space-around;

}

.burger__container {
    display: flex; 
    flex-direction: row;
    height: 100%;
}

.burger__arrow {
    display: flex;
    align-items: center;
} 

.burger__view {
    position: relative;
    flex-basis: 50%;
}

.burger__menu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    left: 5.625rem;
    top: 0;
    width: 23.125rem;
    border-radius: 4px;
    justify-content: flex-start;
}

.burger__menu-items {
    padding-left: 1.25rem; 
}

.burger__menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem 1.375rem 1.125rem 0;
}

.menu__img {
    margin-right: 1.5625rem; 
}
  
.menu__name {
    margin-right: 4.0625rem;
    width: 4.375rem;
    text-align: left;
    font-weight: bold; 
}


.burger__composition {
    position: absolute;
    top: -3.5rem;
    left: 0;
}

.burger__composition-img {
    max-height: 75vh;
    max-width: 75vh;

    @include tablets {
        height: rem(75px);
        width: 75px;
    }
    @include phones {
        height: rem(50px);
        width: rem(50px);
    }
   
}

.burger__composition:hover .burger__menu {
    display: flex;
}

.burger__kkal {
    position: absolute;
    bottom: -3rem;
    left: 0.5rem;
}

.burger__weight {
    position: absolute;
    top: rem(23px);
    left: rem(13px);
    font-family: 'gagalin';
    font-size: rem(20px);
    color: #FED586;

}

.burger__discription {
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47%;
    flex-basis: 50%;
}

.burger__txt-add {
    padding: 0;
    color: white;
    text-align: left;
    line-height: rem(60px);
}

.burger__price {
    display: flex;
    align-items: center;
}

.burger__order {
    margin-top: rem(25px);
}

.burger__price-numb {
    display: block;
    color: $orange;
    font-family: 'Gagalin';
    font-size: rem(40px);
    font-weight: 400;
    line-height: 1.42;
    margin-right: rem(20px);
    span {
        font-size: rem(75px);
    }
}


.burger__img {
    max-width: 100%;
    max-height: 100%;
}
