.feedback {
    background-color: #fff;
    display: flex;
    background-position: center bottom;
    justify-content: center;
    align-items: center;
}

.feedback__container {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.feedback__content {
    width: 100%;
    display: flex;
    flex-grow: 1;
}