.feedback {
    display: flex;
    background-position: center bottom;
    justify-content: center;
    align-items: center;
}

.feedback__container {
    background-color: white;
    height: 100%;
    width: 1100px;
    display: flex; 
    justify-content: top;
    align-items: center;
}

.feedback__content {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    justify-content: space-around;
}
 .feedback__profile {
    flex: 0 2 275px;     
    padding: 20px;
    display: flex;
    flex-direction: column;

    .feedback__post {
        text-align: center;

    }

 }