.map {
    // @include bgimg ('/img_first/map-marker.jpg'); 
    
    width: 100%;
    color: white;
    position: relative;
}

.map__container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.footer {
    @include bgimg ('/img_first/footerbg.jpg');
    height: rem(58px);
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    right: 0;
    bottom:0;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    @include phones {
        position: absolute;
        flex-direction: column;
        text-align: center;
        height: rem(75px);
    }
}

.footer__media {
    display: flex;
    width: rem(150px);
    justify-content: space-between;
}

.footer__links {
    filter: brightness(0.4);
    &:hover {
            filter: brightness(1);
    }
}

.footer__links-img {
    height: rem(20px);
    width: rem(20px);

}

.footer__contacts-phone {
    color: $orange;
    font-weight: 600;
    &:before {
        content: url('/img_first/phone.png');
    }
}