.order {
    @include bgimg ('/img_first/order.jpg');
}

.form {
    color: white;
    margin-top: rem(56px);
}


.form__elem-block {
    display: flex;
    @include tablets {
        flex-direction: column;
    }
}

.form__content {
    width: 50%;
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
    @include tablets {
        width: rem(470px);
    }
}

.form__input {
    border: none;
    border-radius: rem(5px);
    padding: rem(5px);
    width: 100%;
    height: rem(35px);

    &-comment {
        height: rem(109px);
        border: none;
        border-radius: rem(5px);
        padding: rem(5px);
        width: 100%;
    }
}
.form__row {
    display: flex;
    margin-bottom: rem(20px);
}

.form__block {
    flex: 1;
    margin-right: rem(20px);
    &:last-child {
        margin: 0;
    }
}

.form__checkbox {
    display: flex;
}

.form__checkbox {
    flex: 1;
    margin-right: rem(20px);
    align-items: center;
    &:last-child {
        margin: 0;
    }
    &-btn {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: rem(10px) 0 0 rem(20px);
    }
}

.form__comment-title {
    position: relative;
    padding: 0 0 0 rem(30px);
    cursor: pointer;
    &--checkbox {
        position: relative;
        padding: 0 0 0 rem(30px);
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            top: rem(2px);
            left: rem(1px);
        //   @include circle (15px, white);
            width: rem(15px);
            height: rem(15px);
            background: white;
            transition: .2s;
          }
    }
    &:before {
        content: '';
        position: absolute;
        top: rem(2px);
        left: rem(1px);
      @include circle (1rem(5px), white);
        background: white;
        transition: .2s;
      }
  }

  .form__checkbox input:checked + .form__comment-title:before {
    content: "\2022";
    color: $orange;
    font-size: rem(30px);
    text-align: center;
    line-height: rem(15px);
  }

  .form__checkbox input:checked + .form__comment-title--checkbox:before {
    @include bgimg ('/img_first/check.png');
  }

  .clean {
      padding-left: rem(20px);
      color: white;
      border: none;
      background: transparent;
  }