.team {
    @include bgimg ('/img_first/teambg.png');
    position: relative;
}

.team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-acco__trigger {
    color: white;
    display: flex;

    &:before {
        content: "";
        height: 0;
        width: 0;
        border: 9px solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0;
    }
}

.team-acco__content {
    display: flex;
    
}