.team {
    @include bgimg ('/img_first/teambg.png');
    position: relative;
}

.team__content {
    position: relative;
    @include tablets {
        text-align: center;
    }
}

.team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: rgba(#2f3234, .93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: rem(70px);

    @include tablets {
        width: 100%;
        padding-left: 0;
        // padding: 0 rem(200px);
    }
    
}

.team__acco {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: rem(100px);
}

.team-acco__item {
    padding-bottom: rem(30px);
    @include tablets {
        text-align: center;
    }
}

.team-acco__trigger {
    color: white; 
    display: inline-flex;
    padding-bottom: rem(20px);
    font-family: 'Gagalin';
    text-decoration: none;
    
    &:before {
        content: "";
        height: 0;
        width: 0;
        border: rem(9px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0;
        padding-top: rem(5px);
        margin-top: rem(6px);
        margin-right: rem(7px);
    }
}

.team-acco__pick-img{
    width: rem(100px);
	height: rem(100px);
	@include cover;
	border-radius: 50%
    
}

.team-acco__content {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
}


.team-acco__text {
    color: white;
    height: rem(100px);
    display: block;
    flex-direction: column;
    justify-content: center;
    padding-left: rem(25px);
    @include tablets {
        padding-left: 0;
    }
}

.team-acco__text-content {
    display: inline-flex;
}

.team-acco__active {
    .team-acco__trigger {
        color: $yellow;
        &:before {
            transform: rotate(-180deg);
            transition: 0.5s;
            margin-bottom: rem(3px);
        }
    }
    .team-acco__content {
        @include tablets {
        }
    }
}

.fixed {
    position: absolute;
    top: 0;
    @include tablets {
        left: 50%;
        margin-left: -25%;
    }
}