.team {
    @include bgimg ('/img_first/teambg.png');
    position: relative;
}

.team__content {
    @include tablets {
        text-align: center;
    }
}

.team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: rem(70px);

    @include tablets {
        width: 100%;
        padding-left: 0;
        // padding: 0 rem(200px);
    }
    
}

.team__acco {
    display: flex;
    flex-direction: column;
}

.team-acco__item {
    padding-bottom: rem(30px);
    @include tablets {
        text-align: center;
    }
}

.team-acco__trigger {
    color: white; 
    display: inline-flex;
    padding-bottom: rem(20px);
    font-family: 'Gagalin';
    
    &:before {
        content: "";
        height: 0;
        width: 0;
        border: rem(9px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0;
        padding-top: rem(5px);
    }
}

.team-acco__pic {
    
}

.team-acco__pick-img{
    width: rem(100px);
	height: rem(100px);
	@include cover;
	border-radius: 50%
    
}

.team-acco__content {
    display: flex;
    display: none;
    }


.team-acco__text {
    color: white;
    height: rem(100px);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding-left: rem(25px);
    @include tablets {
        padding-left: 0;
    }
}

.team-acco__text-content {
    display: inline-flex;
}

.team-acco__item_active {
    .team-acco__trigger {
        color: $yellow;
        &:before {
            transform: rotate(-180deg)
        }
    }
    .team-acco__content {
        display: flex;
        @include tablets {
            justify-content: center;
            flex-direction: column;
        }
    }
}
