@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}

@function rem($px) {
    @return $px / 16px+0rem;
}

@mixin bgimg ($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}