.wrapper {
    width: 100%;
    height: 100%;
    position: relative; 
    min-height: 650px;
    overflow: hidden;
    @include tablets {
        min-height: auto;
    }
}

.maincontent {
    height: 100vh;
    min-height: rem(650px);
    width: 100%;
    transition: .7s;
    transform: translateY();
    will-change: transform;
     @include tablets {
        min-height: auto;
    }
}

.container {
    width: 95%;
    max-width: 940px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.section {
    background-color: $dark;
    min-width: 100%;
    min-height: rem(650px);
    height: 100vh;
}

.order-link {
    min-width: rem(98px);
    padding: rem(10px) rem(17px);
    border-radius: rem(5px);
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: rem(500px);
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;

    &:hover {
        background-color: darken($orange, 10%);
    }
}

footer {
    position: relative;
    widows: 100%;
}