@font-face {
    font-family: Gagalin;
    src: url("../fonts/Gagalin.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lifehack;
    src: url("../fonts/Lifehack.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-B.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@mixin gagalin($style: light) {
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
	font-family: 'Ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}

@mixin lifehack() {
	font-family: 'Lifehack-Medium';
}