@font-face {
    font-family: Gagalin;
    src: url("../fonts/Gagalin.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lifehack;
    src: url("../fonts/Lifehack.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-B.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}